
extends layout

include post

block content
    - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    
    h1 
        | #{month_names[fullmonth]} 
        | #{fullyear}
        span.thin  Archive
    
    //- p #{articles.length} posts
    
    //- hr

    each article in articles
        mixin post(article)
        hr

    div.nav
        a.newer(href='/archive') « Archives
        a.next(href='/page/1') Latest Posts »



