extends layout
include post
block content
  include author
  
  if typeof title != 'undefined'
    h1= title

  each article in articles
      mixin post(article)
      hr
        
  div.nav
    if prevPage
      a.newer(href=prevPage.url) « Newer
    else
      a.newer(href='/archive') « Archives
    if nextPage
      a.next(href=nextPage.url) Next page »
    else if !prevPage
      a.next(href='/page/1') Latest Posts »



