mixin img(href)
	+medium(href)

mixin medium(href)
	img(src=href.replace(/\.[a-z]+$/g, '') + '-medium.jpg')&attributes(attributes)

mixin small(href)
	img(src=href.replace(/\.[a-z]+$/g, '') + '-small.jpg')&attributes(attributes)