mixin img(href)
	+medium(href)

mixin medium(href)
	if href
		img(src=href.replace(/\.[a-z]+$/g, '') + '-medium.jpg')&attributes(attributes)
	else
		+medium("/img/cat.jpg")

mixin small(href)
	if href
		img(src=href.replace(/\.[a-z]+$/g, '') + '-small.jpg')&attributes(attributes)
	else
		+small("/img/cat.jpg")